@model ICoche

<h1>Dependency Injection</h1>

<h2>@Model.Marca @Model.Modelo</h2>

<img src="~/images/@Model.Imagen" style="width: 200px" />

<h2>Velocidad actual: <span style="color: green">@Model.Velocidad</span> Km/h</h2>
<h2>Velocidad máxima: <span style="color: red">@Model.VelocidadMaxima</span> Km/h</h2>


<form method="post">
	<button name="accion" value="acelerar" class="btn btn-outline-success">Acelerar</button>
	<button name="accion" value="frenar" class="btn btn-outline-danger">Frenar</button>
</form>