<h1>Create</h1>
<form method="post" >
    <label>IdDoctor</label>
    <input type="text" name="iddoctor" class="form-control" />
    <label>Apellido</label>
    <input type="text" name="apellido" class="form-control" />
    <label>Especialidad</label>
    <input type="text" name="especialidad" class="form-control" />
    <label>Salario</label>
    <input type="text" name="salario" class="form-control" />
    <label>IdHospital</label>
    <input type="text" name="idhospital" class="form-control" />
    <button type="submit" class="btn btn-success">Create</button>
</form>